## .NET / C# gitignore
bin/
obj/
*.user
*.suo
.vs/
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Ll]og/
[Ll]ogs/
*.VisualState.xml
TestResult.xml
*.ncrunchproject
*.ncrunchsolution

# NuGet
*.nupkg
*.snupkg
**/packages/
!**/packages/build/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/
